#include "DescriptorDecoder.h"

#include "GPUDevice.h"
#include "GPUAdapter.h"
#include "GPUQueue.h"
#include "GPUFence.h"
#include "GPUBuffer.h"
#include "GPUTexture.h"
#include "GPUTextureView.h"
#include "GPUSampler.h"
#include "GPUBindGroupLayout.h"
#include "GPUPipelineLayout.h"
#include "GPUBindGroup.h"
#include "GPUShaderModule.h"
#include "GPURenderPipeline.h"

#include <unordered_map>

{% for enum in enums %}
static std::unordered_map<std::string, uint32_t> {{ enum.externalName }}Map = {
  {%- for member in enum.children %}
  { "{{ getEnumNameFromDawnEnumName(member.name) | safe }}", {{ member.value }} },
  {%- endfor %}
};
{% endfor %}

namespace DescriptorDecoder {
  {% for enum in enums %}
  uint32_t {{ enum.externalName }}(std::string name) {
    return {{ enum.externalName }}Map[name];
  };
  std::string {{ enum.externalName }}(uint32_t value) {
    auto it = std::find_if(
      std::begin({{ enum.externalName }}Map),
      std::end({{ enum.externalName }}Map),
      [value](auto&& p) {
        return p.second == value;
      }
    );

    if (it == std::end({{ enum.externalName }}Map)) return "";

    return it->first;
  };
  {% endfor %}

  {% for struct in structures %}
  void Destroy{{ struct.externalName }}({{ struct.name }} descriptor) {
    {%- for member in struct.children %}
    {{- getDestroyStructureMember(struct, member) | safe -}}
    {% endfor %}
  };
  {% endfor %}

  {% for struct in structures %}
  {{ struct.name }} {{ struct.externalName }}({{ getDecodeStructureParameters(struct) | safe }}) {

    {{ struct.name }} descriptor;
    {{- getDescriptorInstanceReset(struct) | safe }}

    if (!(value.IsObject())) return descriptor;

    Napi::Object obj = value.As<Napi::Object>();

    {%- for member in struct.children %}
    {{- getDecodeStructureMember(struct, member) | safe -}}
    {% endfor %}

    return descriptor;
  };
  {% endfor %}
}
