#include "index.h"
{% if includeMemoryLayouts == true %}
#include "memoryLayouts.h"
{% endif %}

#include "GPU.h"
#include "GPUDevice.h"
#include "GPUAdapter.h"
#include "GPUQueue.h"
#include "GPUFence.h"
#include "GPUBuffer.h"
#include "GPUTexture.h"
#include "GPUTextureView.h"
#include "GPUSampler.h"
#include "GPUBindGroupLayout.h"
#include "GPUPipelineLayout.h"
#include "GPUBindGroup.h"
#include "GPUShaderModule.h"
#include "GPURenderPipeline.h"
#include "GPUComputePipeline.h"
#include "GPUCanvasContext.h"
#include "GPUSwapChain.h"
#include "GPUCommandBuffer.h"
#include "GPUCommandEncoder.h"
#include "GPURenderPassEncoder.h"
#include "GPUComputePassEncoder.h"
#include "GPURenderBundle.h"
#include "GPURenderBundleEncoder.h"
#include "WebGPUWindow.h"

Napi::Object Init(Napi::Env env, Napi::Object exports) {

  GPU::Initialize(env, exports);
  GPUAdapter::Initialize(env, exports);
  GPUDevice::Initialize(env, exports);
  GPUQueue::Initialize(env, exports);
  GPUFence::Initialize(env, exports);
  GPUBuffer::Initialize(env, exports);
  GPUTexture::Initialize(env, exports);
  GPUTextureView::Initialize(env, exports);
  GPUSampler::Initialize(env, exports);
  GPUBindGroupLayout::Initialize(env, exports);
  GPUPipelineLayout::Initialize(env, exports);
  GPUBindGroup::Initialize(env, exports);
  GPUShaderModule::Initialize(env, exports);
  GPURenderPipeline::Initialize(env, exports);
  GPUComputePipeline::Initialize(env, exports);
  GPUCanvasContext::Initialize(env, exports);
  GPUSwapChain::Initialize(env, exports);
  GPUCommandBuffer::Initialize(env, exports);
  GPUCommandEncoder::Initialize(env, exports);
  GPURenderPassEncoder::Initialize(env, exports);
  GPUComputePassEncoder::Initialize(env, exports);
  GPURenderBundle::Initialize(env, exports);
  GPURenderBundleEncoder::Initialize(env, exports);
  WebGPUWindow::Initialize(env, exports);

  {% if includeMemoryLayouts == true %}
  exports["$getMemoryLayouts"] = Napi::Function::New(env, MemoryLayouts, "MemoryLayouts");
  {% endif %}

  {% for bitmask in bitmasks %}
  Napi::Object {{ bitmask.externalName }} = Napi::Object::New(env);
    {%- for member in bitmask.children %}
    {{ bitmask.externalName }}.Set(
      Napi::String::New(env, "{{ member.name }}"),
      Napi::Number::New(env, {{ member.value }})
    );
    {%- endfor %}
  exports["{{ bitmask.externalName }}"] = {{ bitmask.externalName }};
  {% endfor %}

  return exports;
}

NODE_API_MODULE(addon, Init)
